<div class="card">
    <div class="card-body">
        <router-outlet></router-outlet>
    </div>
</div>

<!-- <div class="stepper stepper-links d-flex flex-column pt-15" id="kt_create_account_stepper">
    <div class="stepper-nav mb-5">
        <div class="stepper-item" [ngClass]="{current: isProfile === true, completed: currentStep$.value > 1}">
            <h3 class="stepper-title">Création du profile</h3>
        </div>

        <div class="stepper-item" [ngClass]="{
      current: isAttachment === true,
      completed: currentStep$.value > 2
    }">
            <h3 class="stepper-title">Information des pièces justicatifs</h3>
        </div>

        <div class="stepper-item" [ngClass]="{
      current: isSegment === true,
      completed: currentStep$.value > 3
    }">
            <h3 class="stepper-title">Choix de segment</h3>
        </div>

        <div class="stepper-item" [ngClass]="{ current: currentStep$.value === 4 }">
            <h3 class="stepper-title">Fin</h3>
        </div>
    </div> -->
    
    <!-- <form
  class="mx-auto mw-600px w-100 pt-15 pb-10"
  noValidate
  id="kt_create_account_form"
>
<div class="current">
    <ng-container *ngIf="currentStep$.value === 1">
      <app-profile class="w-100"
      ></app-profile>
    </ng-container>

    <ng-container *ngIf="currentStep$.value === 2">
      <app-attachment
        class="w-100"
      ></app-attachment>
    </ng-container>
    <ng-container *ngIf="currentStep$.value === 3">
      <app-segment
        class="w-100"
      ></app-segment>
    </ng-container>

    <ng-container *ngIf="currentStep$.value === 4">
      <app-end class="w-100"></app-end>
    </ng-container>
  </div>

  <router-outlet></router-outlet>
  <div class="d-flex flex-stack pt-15">
    <ng-container *ngIf="currentStep$.value !== formsCount">
      <div>
        <button
          type="button"
          class="btn btn-lg btn-primary me-3"
          [disabled]="!isCurrentFormValid$.value"
          (click)="nextStep()"
        >
          <span class="indicator-label">
            <ng-container *ngIf="currentStep$.value < formsCount - 1">
              Continue {{ " " }}
              <span
                [inlineSVG]="
                  './assets/media/icons/duotune/arrows/arr064.svg'
                "
                class="svg-icon svg-icon-3 ms-2 me-0"
              ></span>
            </ng-container>
            <ng-container *ngIf="currentStep$.value === formsCount - 1">
              Submit
            </ng-container>
          </span>
        </button>
      </div>
    </ng-container>
  </div>
</form> -->
<!-- </div> -->