<!--begin::Menu wrapper-->
<div id="kt_app_sidebar_menu_wrapper" class="app-sidebar-wrapper hover-scroll-overlay-y my-5" data-kt-scroll="true"
  data-kt-scroll-activate="true" data-kt-scroll-height="auto"
  data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer"
  data-kt-scroll-wrappers="#kt_app_sidebar_menu" data-kt-scroll-offset="5px" data-kt-scroll-save-state="true">
  <!--begin::Menu-->
  <div class="menu menu-column menu-rounded menu-sub-indention px-3" id="#kt_app_sidebar_menu" data-kt-menu="true"
    data-kt-menu-expand="false">
    <!-- Dashboard -->
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/dashboard" routerLinkActive="active"><span class="menu-icon">
          <span [inlineSVG]="'./assets/media/icons/duotune/general/gen025.svg'" class="svg-icon svg-icon-2"></span>
        </span>
        <span class="menu-title" translate="MENU.DASHBOARD"></span></a>
    </div>

    <!-- Layout builder -->
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/builder" routerLinkActive="active"><span class="menu-icon">
          <span [inlineSVG]="'./assets/media/icons/duotune/general/gen019.svg'" class="svg-icon svg-icon-2"></span>
        </span><span class="menu-title">Layout Builder</span></a>
    </div>
    <!-- Separator -->
    <div class="menu-item">
      <div class="menu-content pt-8 pb-2">
        <span class="menu-section text-muted text-uppercase fs-8 ls-1">Crafted</span>
      </div>
    </div>

    <!-- Pages -->
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <span class="menu-link"><span class="menu-icon"><span class="svg-icon svg-icon-2"
            [inlineSVG]="'./assets/media/icons/duotune/general/gen022.svg'"></span></span><span
          class="menu-title">Pages</span><span class="menu-arrow"></span></span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <!-- <div class="menu-item menu-accordion" routerLinkActive="here show" data-kt-menu-trigger="click">
          <span class="menu-link"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
              class="menu-title" data-link="/crafted/pages/profile">Profile</span><span
              class="menu-arrow"></span></span>
          <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
            <div class="menu-item">
              <a class="menu-link without-sub" routerLinkActive="active"
                routerLink="/crafted/pages/profile/overview"><span class="menu-bullet"><span
                    class="bullet bullet-dot"></span></span><span class="menu-title">Overview</span></a>
            </div>
            <div class="menu-item">
              <a class="menu-link without-sub" routerLinkActive="active"
                routerLink="/crafted/pages/profile/projects"><span class="menu-bullet"><span
                    class="bullet bullet-dot"></span></span><span class="menu-title">Projects</span></a>
            </div>
            <div class="menu-item">
              <a class="menu-link without-sub" routerLinkActive="active"
                routerLink="/crafted/pages/profile/campaigns"><span class="menu-bullet"><span
                    class="bullet bullet-dot"></span></span><span class="menu-title">Campaigns</span></a>
            </div>
            <div class="menu-item">
              <a class="menu-link without-sub" routerLinkActive="active"
                routerLink="/crafted/pages/profile/documents"><span class="menu-bullet"><span
                    class="bullet bullet-dot"></span></span><span class="menu-title">Documents</span></a>
            </div>
            <div class="menu-item">
              <a class="menu-link without-sub" routerLinkActive="active"
                routerLink="/crafted/pages/profile/connections"><span class="menu-bullet"><span
                    class="bullet bullet-dot"></span></span><span class="menu-title">Connections</span></a>
            </div>
          </div>
        </div>
        <div class="menu-item menu-accordion" routerLinkActive="here show" data-kt-menu-trigger="click">
          <span class="menu-link"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
              class="menu-title" data-link="/crafted/pages/wizards">Wizards</span><span
              class="menu-arrow"></span></span>
          <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
            <div class="menu-item">
              <a class="menu-link without-sub" routerLinkActive="active"
                routerLink="/crafted/pages/wizards/horizontal"><span class="menu-bullet"><span
                    class="bullet bullet-dot"></span></span><span class="menu-title">Horizontal</span></a>
            </div>
            <div class="menu-item">
              <a class="menu-link without-sub" routerLinkActive="active"
                routerLink="/crafted/pages/wizards/vertical"><span class="menu-bullet"><span
                    class="bullet bullet-dot"></span></span><span class="menu-title">Vertical</span></a>
            </div>
          </div>
        </div> -->
      </div>
    </div>

    <!-- Accounts -->
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <span class="menu-link"><span class="menu-icon"><span class="svg-icon svg-icon-2"
        [inlineSVG]="'./assets/media/icons/duotune/communication/com006.svg'"></span></span><span class="menu-title"
      data-link="/crafted/account">Profil</span><span class="menu-arrow"></span></span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active"
            routerLink="/crafted/pages/profile/overview"><span class="menu-bullet"><span
                class="bullet bullet-dot"></span></span><span class="menu-title">Aperçu </span></a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active"
            routerLink="/crafted/pages/profile/projects"><span class="menu-bullet"><span
                class="bullet bullet-dot"></span></span><span class="menu-title"> Infos personnelles </span></a>
        </div>

        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active"
            routerLink="/crafted/pages/profile/documents"><span class="menu-bullet"><span
                class="bullet bullet-dot"></span></span><span class="menu-title">Pièces Justificatives</span></a>
        </div>

        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active"
            routerLink="/crafted/pages/profile/connections"><span class="menu-bullet"><span
                class="bullet bullet-dot"></span></span><span class="menu-title">Moyens de paiement</span></a>
        </div>
      </div>
    </div>
    <!-- Payement -->

    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
        <span class="menu-link">
          <span class="menu-icon">
            <span class="svg-icon svg-icon-2">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22 7H2V11H22V7Z" fill="currentColor"></path>
                <path opacity="0.3" d="M21 19H3C2.4 19 2 18.6 2 18V6C2 5.4 2.4 5 3 5H21C21.6 5 22 5.4 22 6V18C22 18.6 21.6 19 21 19ZM14 14C14 13.4 13.6 13 13 13H5C4.4 13 4 13.4 4 14C4 14.6 4.4 15 5 15H13C13.6 15 14 14.6 14 14ZM16 15.5C16 16.3 16.7 17 17.5 17H18.5C19.3 17 20 16.3 20 15.5C20 14.7 19.3 14 18.5 14H17.5C16.7 14 16 14.7 16 15.5Z" fill="currentColor"></path>
              </svg>
            </span>
          </span>
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/crafted/pages/profile/connections"><span class="menu-title">Moyens de paiements</span></a>
        </span>
    </div>

    <!-- Widgets -->
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <span class="menu-link"><span class="menu-icon"><span class="svg-icon svg-icon-2"
            [inlineSVG]="'./assets/media/icons/duotune/layouts/lay008.svg'"></span></span><span class="menu-title"
          data-link="/crafted/widgets">Widgets</span><span class="menu-arrow"></span></span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/crafted/widgets/lists"><span
              class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
              class="menu-title">Lists</span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/crafted/widgets/statistics"><span
              class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
              class="menu-title">Statistics</span></a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/crafted/widgets/charts"><span
              class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
              class="menu-title">Charts</span></a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/crafted/widgets/mixed"><span
              class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
              class="menu-title">Mixed</span></a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/crafted/widgets/tables"><span
              class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
              class="menu-title">Tables</span></a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/crafted/widgets/feeds"><span
              class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
              class="menu-title">Feeds</span></a>
        </div>
      </div>
    </div>

    <!-- Separator -->
    <div class="menu-item">
      <div class="menu-content pt-8 pb-2">
        <span class="menu-section text-muted text-uppercase fs-8 ls-1">Apps</span>
      </div>
    </div>

    <!-- Chat -->
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <span class="menu-link"><span class="menu-icon"><span class="svg-icon svg-icon-2"
            [inlineSVG]="'./assets/media/icons/duotune/communication/com012.svg'"></span></span><span class="menu-title"
          data-link="/apps/chat">Chat</span><span class="menu-arrow"></span></span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/apps/chat/private-chat"><span
              class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Private
              Chat</span></a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/apps/chat/group-chat"><span
              class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Group
              Chart</span></a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/apps/chat/drawer-chat"><span
              class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Drawer
              Chart</span></a>
        </div>
      </div>
    </div>


  </div>
  <!--end::Menu-->
</div>
<!--end::Menu wrapper-->
