<div class="row g-6 g-xl-9 mb-6 mb-xl-9">
  <div class="card mb-5 mb-xl-10">
    <div
      class="card-header border-0 cursor-pointer"
      role="button"
      data-bs-toggle="collapse"
      data-bs-target="#kt_account_profile_details"
      aria-expanded="true"
      aria-controls="kt_account_profile_details"
    >
      <div class="card-title m-0">
        <h3 class="fw-bolder m-0">Ajouter mes pièces justificatives</h3>
      </div>
    </div>
    <div id="kt_account_profile_details" class="collapse show">
      <form novalidate="" class="form">
        <div class="card-body border-top p-9">

          <div class="row mb-6">
            <label class="col-lg-4 col-form-label required fw-bold fs-6"
              >Numéro d’Identification Unique</label
            >
            <div class="col-lg-8 fv-row">
              <input
                type="text"
                class="form-control form-control-lg form-control-solid"
                placeholder="Company name"
                name="company"
                value="Keenthemes"
              />
            </div>
          </div>
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label required fw-bold fs-6"
              >Type de la pièces justificatives </label
            >
            <div class="col-lg-8 fv-row">
              <select
                class="select2-selection select2-selection--single form-select form-select-solid form-select-lg"
                name="language"
              >
                <option value="">Selectionnez un type ...</option>
                <option value="">Type 1</option>
                <option value="">Type 2</option>
                <option value="">Type 3</option>
              </select>
              <div class="form-text">
                Please select a preferred language, including date, time, and
                number formatting.
              </div>
            </div>
          </div>
          <div class="row mb-6">
            <label class="col-lg-4 col-form-label fw-bold fs-6"
              ><span class="required">Numéro de pièces justificatives</span></label
            >
            <div class="col-lg-8 fv-row">
              <input
                type="text"
                class="form-control form-control-lg form-control-solid"
                placeholder="Company website"
                name="companySite"
                value="keenthemes.com"
              />
            </div>
          </div>
        
          <div class="card-footer d-flex justify-content-end py-6 px-9">
            <div class="row g-6 g-xl-9 mb-6 mb-xl-9">
              
              <div class="col-12 col-sm-12 col-xl">
                <div class="col-lg-8">
                  <!--begin::Image input-->
                  <div class="image-input image-input-outline" data-kt-image-input="true" style="background-image: url('/metronic8/demo1/assets/media/svg/avatars/blank.svg')">
                    <!--begin::Preview existing avatar--> 
      
                    <!-- url(./assets/media/avatars/300-1.jpg -->
      
                    <div *ngIf="user?.attachment?.avatar" class="image-input-wrapper w-125px h-125px" style="background-image: url({{user?.attachment?.avatar}})"></div>
                    <div *ngIf="!user?.attachment?.avatar" class="image-input-wrapper w-125px h-125px" style="background-image: url({{avatar}})"></div>
                    <!--end::Preview existing avatar-->
                    <!--begin::Label-->
                    <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" aria-label="Change avatar" data-bs-original-title="Change avatar" data-kt-initialized="1">
                      <i class="bi bi-pencil-fill fs-7" (click)="open(content)"></i>
                      <!--begin::Inputs-->
                      <!-- <input type="file" name="avatar" accept=".png, .jpg, .jpeg"> -->
                      <!-- <input type="hidden" name="avatar_remove"> -->
                      <!--end::Inputs-->
                    </label>
                    <!--end::Label-->
                    <!--begin::Cancel-->
                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" aria-label="Cancel avatar" data-bs-original-title="Cancel avatar" data-kt-initialized="1">
                      <i class="bi bi-x fs-2"></i>
                    </span>
                    <!--end::Cancel-->
                    <!--begin::Remove-->
                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" aria-label="Remove avatar" data-bs-original-title="Remove avatar" data-kt-initialized="1">
                      <i class="bi bi-x fs-2"></i>
                    </span>
                    <!--end::Remove-->
                  </div>
                  <!--end::Image input-->
                  <!--begin::Hint-->
                  <div class="form-text">Types de fichiers autorisés: png, jpg, jpeg.</div>
                  <!--end::Hint-->
                </div>
              </div>

              <div class="col-12 col-sm-12 col-xl">
                <div class="col-lg-8">
                  <!--begin::Image input-->
                  <div class="image-input image-input-outline" data-kt-image-input="true" style="background-image: url('/metronic8/demo1/assets/media/svg/avatars/blank.svg')">
                    <!--begin::Preview existing avatar--> 
      
                    <!-- url(./assets/media/avatars/300-1.jpg -->
      
                    <div *ngIf="user?.attachment?.avatar" class="image-input-wrapper w-125px h-125px" style="background-image: url({{user?.attachment?.avatar}})"></div>
                    <div *ngIf="!user?.attachment?.avatar" class="image-input-wrapper w-125px h-125px" style="background-image: url({{avatar}})"></div>
                    <!--end::Preview existing avatar-->
                    <!--begin::Label-->
                    <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" aria-label="Change avatar" data-bs-original-title="Change avatar" data-kt-initialized="1">
                      <i class="bi bi-pencil-fill fs-7" (click)="open(content)"></i>
                      <!--begin::Inputs-->
                      <!-- <input type="file" name="avatar" accept=".png, .jpg, .jpeg"> -->
                      <!-- <input type="hidden" name="avatar_remove"> -->
                      <!--end::Inputs-->
                    </label>
                    <!--end::Label-->
                    <!--begin::Cancel-->
                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" aria-label="Cancel avatar" data-bs-original-title="Cancel avatar" data-kt-initialized="1">
                      <i class="bi bi-x fs-2"></i>
                    </span>
                    <!--end::Cancel-->
                    <!--begin::Remove-->
                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" aria-label="Remove avatar" data-bs-original-title="Remove avatar" data-kt-initialized="1">
                      <i class="bi bi-x fs-2"></i>
                    </span>
                    <!--end::Remove-->
                  </div>
                  <!--end::Image input-->
                  <!--begin::Hint-->
                  <div class="form-text">Types de fichiers autorisés: png, jpg, jpeg.</div>
                  <!--end::Hint-->
                </div>
              </div>

              <div class="col-12 col-sm-12 col-xl">
                <div class="col-lg-8">
                  <!--begin::Image input-->
                  <div class="image-input image-input-outline" data-kt-image-input="true" style="background-image: url('/metronic8/demo1/assets/media/svg/avatars/blank.svg')">
                    <!--begin::Preview existing avatar--> 
      
                    <!-- url(./assets/media/avatars/300-1.jpg -->
      
                    <div *ngIf="user?.attachment?.avatar" class="image-input-wrapper w-125px h-125px" style="background-image: url({{user?.attachment?.avatar}})"></div>
                    <div *ngIf="!user?.attachment?.avatar" class="image-input-wrapper w-125px h-125px" style="background-image: url({{avatar}})"></div>
                    <!--end::Preview existing avatar-->
                    <!--begin::Label-->
                    <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" aria-label="Change avatar" data-bs-original-title="Change avatar" data-kt-initialized="1">
                      <i class="bi bi-pencil-fill fs-7" (click)="open(content)"></i>
                      <!--begin::Inputs-->
                      <!-- <input type="file" name="avatar" accept=".png, .jpg, .jpeg"> -->
                      <!-- <input type="hidden" name="avatar_remove"> -->
                      <!--end::Inputs-->
                    </label>
                    <!--end::Label-->
                    <!--begin::Cancel-->
                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" aria-label="Cancel avatar" data-bs-original-title="Cancel avatar" data-kt-initialized="1">
                      <i class="bi bi-x fs-2"></i>
                    </span>
                    <!--end::Cancel-->
                    <!--begin::Remove-->
                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" aria-label="Remove avatar" data-bs-original-title="Remove avatar" data-kt-initialized="1">
                      <i class="bi bi-x fs-2"></i>
                    </span>
                    <!--end::Remove-->
                  </div>
                  <!--end::Image input-->
                  <!--begin::Hint-->
                  <div class="form-text">Types de fichiers autorisés: png, jpg, jpeg.</div>
                  <!--end::Hint-->
                </div>
              </div>

              <div class="col-12 col-sm-12 col-xl">
                <div class="col-lg-8">
                  <!--begin::Image input-->
                  <div class="image-input image-input-outline" data-kt-image-input="true" style="background-image: url('/metronic8/demo1/assets/media/svg/avatars/blank.svg')">
                    <!--begin::Preview existing avatar--> 
      
                    <!-- url(./assets/media/avatars/300-1.jpg -->
      
                    <div *ngIf="user?.attachment?.avatar" class="image-input-wrapper w-125px h-125px" style="background-image: url({{user?.attachment?.avatar}})"></div>
                    <div *ngIf="!user?.attachment?.avatar" class="image-input-wrapper w-125px h-125px" style="background-image: url({{avatar}})"></div>
                    <!--end::Preview existing avatar-->
                    <!--begin::Label-->
                    <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" aria-label="Change avatar" data-bs-original-title="Change avatar" data-kt-initialized="1">
                      <i class="bi bi-pencil-fill fs-7" (click)="open(content)"></i>
                      <!--begin::Inputs-->
                      <!-- <input type="file" name="avatar" accept=".png, .jpg, .jpeg"> -->
                      <!-- <input type="hidden" name="avatar_remove"> -->
                      <!--end::Inputs-->
                    </label>
                    <!--end::Label-->
                    <!--begin::Cancel-->
                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" aria-label="Cancel avatar" data-bs-original-title="Cancel avatar" data-kt-initialized="1">
                      <i class="bi bi-x fs-2"></i>
                    </span>
                    <!--end::Cancel-->
                    <!--begin::Remove-->
                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" aria-label="Remove avatar" data-bs-original-title="Remove avatar" data-kt-initialized="1">
                      <i class="bi bi-x fs-2"></i>
                    </span>
                    <!--end::Remove-->
                  </div>
                  <!--end::Image input-->
                  <!--begin::Hint-->
                  <div class="form-text">Types de fichiers autorisés: png, jpg, jpeg.</div>
                  <!--end::Hint-->
                </div>
              </div>
            </div>

          </div>

        </div>
        <div class="card-footer d-flex justify-content-end py-6 px-9">
          <button
            type="button"
            class="btn btn-primary"
            [disabled]="isLoading"
            (click)="saveSettings()"
          >
            <ng-container *ngIf="!isLoading">Save Changes</ng-container>
            <ng-container *ngIf="isLoading">
              <span clas="indicator-progress" [style.display]="'block'">
                Please wait...{{ " " }}
                <span
                  class="spinner-border spinner-border-sm align-middle ms-2"
                ></span>
              </span>
            </ng-container>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #content let-modal>

  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
          <span >Modifier mon avatar</span>
      </h4>
      <button type="button" class="close btn btn-sm btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <div class="">
          <input id="avatar" type="file"
                formControlName="avatar"
                name="avatar"
                class="form-control form-control-sm form-control-solid"
                [ngClass]="{
                'is-invalid': myForm.controls['avatar'].invalid,
                  'is-valid': myForm.controls['avatar'].valid
                    }"
                  (change)="changeImg($event)"    
          >
          <ng-container
                  [ngTemplateOutlet]="formError"
                  [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Choissez une image',
            control: myForm.controls['avatar']
          }"
          
          >
          </ng-container>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="saveChange(this)" >Changer</button>
    <button type="button" class="btn btn-secondary" data-d  ismiss="modal">Fermer</button>
  </div>
</ng-template>

<ng-template #formError let-control="control" let-message="message" let-validation="validation " >
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)" >
    <div class="fv-plugins-message-container">
      <span role="alert" class="text-danger ms-5">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>

<!-- 
<div class="row g-6 g-xl-9 mb-6 mb-xl-9">
  <div class="col-12 col-sm-12 col-xl">
    <app-card4
      icon="./assets/media/svg/files/pdf.svg"
      title="Project Reqs.."
      description="3 days ago"
    ></app-card4>
  </div>
  <div class="col-12 col-sm-12 col-xl">
    <app-card4
      icon="./assets/media/svg/files/doc.svg"
      title="CRM App Docs.."
      description="3 days ago"
    ></app-card4>
  </div>
  <div class="col-12 col-sm-12 col-xl">
    <app-card4
      icon="./assets/media/svg/files/css.svg"
      title="User CRUD Styles"
      description="4 days ago"
    ></app-card4>
  </div>
  <div class="col-12 col-sm-12 col-xl">
    <app-card4
      icon="./assets/media/svg/files/ai.svg"
      title="Metronic Logo"
      description="5 days ago"
    ></app-card4>
  </div>
  <div class="col-12 col-sm-12 col-xl">
    <app-card4
      icon="./assets/media/svg/files/sql.svg"
      title="Orders backup"
      description="1 week ago"
    ></app-card4>
  </div>
</div> -->


