<div class="card mb-5 mb-xl-8">
    <!-- begin::Header -->
    <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label fw-bolder fs-3 mb-1">Liste des Pieces <span class="text-success"> </span></span>
        </h3>
        <div class="card-toolbar">
            <a href="javascript:void(0); " (click)="open(content)" class="btn btn-sm btn-light-primary">
                <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'" class="svg-icon svg-icon-3"></span>
                Ajouter une pièce
            </a>
        </div>
    </div>
    <!-- end::Header -->
    <!-- begin::Body -->
    <div class="card-body py-3">
        <!-- begin::Table container -->
        <div class="table-responsive">
            <!-- begin::Table -->
            <table class="table align-middle gs-0 gy-4">
                <!-- begin::Table head -->
                <thead>
                    <tr class="fw-bolder text-muted bg-light">
                        <th class="ps-4 min-w-100px center rounded-start "> Index</th>
                        <th class="min-w-125px center"> Nom de la pièce</th>
                        <th class="min-w-125px center"> Disponibilité</th>
                        <th class="min-w-150px text-end rounded-end pe-6">Actions</th>
                    </tr>
                </thead>
                <!-- end::Table head -->
                <!-- begin::Table body -->
                <tbody>
                    <tr *ngFor="let piece of pieces; let index = index; ">
                        
                        <td>
                            <div class=" ps-8 d-flex align-items-center">
                                <div class="d-flex justify-content-start flex-column">
                                    <span class="">
                                        {{index + 1}}
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="d-flex justify-content-start flex-column">
                                    <span class="">
                                        {{ piece.name }}
                                    </span>
                                </div>
                            </div>
                        </td>

                        <td>

                            <span *ngIf="piece.isActive === true">
                                est disponible
                            </span>

                            <span *ngIf="piece.isActive === false">
                                Pas disponible
                            </span>
                        </td>

                        <td class="text-end">
                            <a href="javascript:void(0);" (click)="editData(piece.id, content)"
                                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                                <span [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"
                                    class="svg-icon svg-icon-3"></span>
                            </a>
                            <a href="javascript:void(0);" (click)="deleteData(piece.id)"
                                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm disabled">
                                <span [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"
                                    class="svg-icon svg-icon-3"></span></a>
                        </td>
                    </tr>
                </tbody>
                <!-- end::Table body -->
            </table>
            <!-- end::Table -->
        </div>
        <!-- end::Table container -->
    </div>
    <!-- begin::Body -->
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            <span *ngIf="isUpdate">Modification d'une pièce</span>
            <span *ngIf="!isUpdate">Creation d'une pièce</span>
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="pieceForm" novalidate="novalidate" id="kt_login_signin_form" (ngSubmit)="savePiece()">
            <div class="mt-3">
                <label for="name">Nom de la pièce</label>
                <input id="name" type="text" formControlName="name" name="name"
                    class="form-control form-control-sm form-control-solid" [ngClass]="{
                       'is-invalid': pieceForm.controls['name'].invalid,
                        'is-valid': pieceForm.controls['name'].valid
                          }">
                <label for="active" class="pt-6">Pièce disponible ?</label>
                <div class="d-flex justify-content-start">
                    <div class="form-check form-check-solid form-check-custom form-switch">
                        <input class="form-check-input w-45px h-30px" type="checkbox" id="" formControlName="isActive" />
                        <label class="form-check-label" for=""></label>
                    </div>
                </div>
                <input id="id" type="hidden" formControlName="id" name="id"
                    class="form-control form-control-sm form-control-solid" [ngClass]="{
                       'is-invalid': pieceForm.controls['id'].invalid,
                        'is-valid': pieceForm.controls['id'].valid
                          }">
                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'required',
                  message: 'Le nom du segment est requis',
                  control: pieceForm.controls['name']
                }">
                </ng-container>
            </div>

            <div class="mt-5">
                <button type="submit" class="btn btn-sm btn-primary">Enregistrer</button>
                <button type="button" class="btn btn-sm btn-dark" style="margin-left: 10px"
                    (click)="modal.close('Save click')">Fermer
                </button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
    <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
        <div class="fv-plugins-message-container">
            <div class="fv-help-block">
                <span role="alert">{{ message }}</span>
            </div>
        </div>
    </ng-container>
</ng-template>